<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Kilroys Contact Page</title>
        <link rel="stylesheet" href="books.css"/>
        <script src="books.js"></script>
    </head>
    <body>
        <h1>CD's</h1>
        <section id="books">
          <article id="add">
            <div id="formWrap">
              <form method="post" action="/readWrite">
                    <div>
                        <p>
                            Title:<br/>
                            <input type="text" name="title" required/>
                        </p>
                        <p>
                            Artist:<br/>
                            <input type="text" name="artist" required/>
                        </p>
                        <p>
                            County: <br/>
                            <input type="text" name="county" required/>
                        </p>
                        <p>
                            Company:<br/>
                            <input type="text" name="company" required/>
                        </p>
                        <p>
                            Price:<br/>
                            <input type="text" name="price" required/>
                        </p>
                        <p>
                            Year:<br/>
                            <input type="text" name="year" required/>
                        </p>
                        <p>
                            <br/><input type="submit" value="Send"/>
                        </p>
                    </div>
                </form>
            </div>
          </article>
          <article id="filter">

        </article>
          <article id="display">

          </article>



        </section>


    </body>

</html>
